/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }

    nav {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }

    .banner-wrapper {
        top: 10rem;
        flex-direction: column;
    }

    .banner-title {
        padding-top: 1rem;
        font-size: 1.5rem;
    }

    .banner-description {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-right: 1rem;
    }

    .banner-search-wrapper {
        width: 95%;
        flex-direction: column;
    }

    .search-item {
        padding-right: 0;
        margin-bottom: 1rem;
    }

    .footer-wrapper {
        top: 15rem;
        flex-direction: column;
    }

    .footer-wrap-logo {
        align-self: flex-start;
        margin-bottom: 1rem;
    }

    .footer-links {
        margin-bottom: 2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
