:root {
    --gray: #EAEAEA;
    --white: #FFFFFF;
    --dark-blue: #001D45;
    --blue: #0756C5;
    --green: #4BFF73;
    --sans: Quicksand, sans-serif;
}

html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
}